.clients-wrapper {
    margin-top: 320px;
    height: 913px;
    background: var(--bg-clients);
    background-size: cover;
    background-position: center;
    position: relative;
    @media (max-width:700px) {
        margin-top: 150px;
    }

    .text {
        position: absolute;
       
        font-size: clamp(24px,4vw,72px);
        font-weight: normal;
        line-height: 76px;
        font-style: normal;
        top: -3vw;
        left: 22vw;
        @media (max-width:522px) {
            left: 14%;
        }

        @media (max-width:394px) {
            top: -1vw;
            left: 9%;
            font-size: 20px;
            line-height: 20px;
        }
      
     
    }



    .cards-div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

}