.news-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 354px 354px;
    gap: 40px;

    margin-inline: 9%;
    margin-top: 150px;

    @media (max-width: 1400px) {
        grid-template-columns: 1.3fr 1fr;
    }

    @media (max-width: 1164px) {
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr;
        margin-top: 100x;
    }

    @media (max-width: 406px) {
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr;
        margin-top: 100x;
        margin-inline: 0;
        width: 100%;
    }

    .img1 {
        background-image: url("../News&Events/news&eevents-assets/firstImage.png");
        background-size: cover;
        background-position: center;
        border: 1px dashed #000000;
        border-radius: 30px;
        grid-row: span 2;
        position: relative;

        @media (max-width: 1164px) {
            height: 27vw;
            grid-row: span 1;
        }

        @media (max-width: 642px) {
            height: 180px;
        }
    }

    .imagesClases {
        display: flex;
        justify-content: start;
        align-items: end;
    }

    .img2 {
        background: url("../News&Events/news&eevents-assets/nuno-marques-0GbrjL3.png");
        background-size: cover;
        background-position: center;
        border: 1px dashed #000000;
        border-radius: 30px;
        position: relative;

        @media (max-width: 1164px) {
            height: 27vw;
        }

        @media (max-width: 642px) {
            height: 180px;
        }
    }

    .text-div {
        padding-left: 7%;
        padding-bottom: 6%;
        @media (max-width: 1164px) {
            padding-bottom: 3%;
        }

        .date {
            font-size: clamp(10px, 1vw, 15px);
            font-weight: normal;
            line-height: 30px;
            font-style: normal;
            text-align: left;
            color: #ffffff;
        }

        .title {
            font-size: clamp(20px, 2vw, 31px);
            font-weight: bold;
            line-height: 42px;
            font-style: normal;
            text-align: left;
            color: #ffffff;
            max-width: 511px;
        }

        .titleeee {
            font-size: clamp(18px, 2vw, 25px);
            font-weight: bold;
            line-height: 34px;
            font-style: normal;
            text-align: left;
            color: #ffffff;
        }
    }

    .img3 {
        background: url("../News&Events/news&eevents-assets/boss.png");
        background-size: cover;
        background-position: center;
        border: 1px dashed #000000;
        border-radius: 30px;
        position: relative;

        @media (max-width: 1164px) {
            height: 27vw;
        }

        @media (max-width: 642px) {
            height: 180px;
        }
    }
}
