.threeImages1 {
    margin-top: 140px;
    padding-inline: 9%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    position: relative;
    @media (max-width:950px) {
        margin-top: 75px;
        gap: 10px;
    }
}

.image1111Div {
    border-radius: 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)  ;
    background: url('./three-images1-assets/left.webp');
    background-size: cover;
    background-position: center;
    width: 25.5vw;
    height: 27.6vw;
    // @media (max-width:900px) {
    //     border-radius: 10px;
    // }
    // @media (max-width:600px) {
    //     border-radius: 5px;
    // }
    @media (max-width:600px) {
        height: 150px;
    }
    
}

.image2222Div {
    border-radius: 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: url('./three-images1-assets/middle.webp');
    background-size: cover;
    background-position: center;
    width: 25.9vw;
    height: 38.2vw;
    // @media (max-width:900px) {
    //     border-radius: 10px;
    // }
    @media (max-width:600px) {
        height: 220px;
    }
}

.image3333Div {
    border-radius: 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: url('./three-images1-assets/rightttt.webp');
    background-size: cover;
  
    width: 25.5vw;
    height: 27.6vw;

    // @media (max-width:900px) {
    //     border-radius: 10px;
    // }
    // @media (max-width:600px) {
    //     border-radius: 5px;
    // }
    @media (max-width:600px) {
        height: 150px;
    }
   
}
.circleLogoLogo{
    position: absolute;
    top: 29%;
    right: 5%;
    width: clamp(80px,14vw,237px);
}