.container{
    display: none;
}
.nav-megamenu  {
    display: grid;
    grid-template-columns: 2.7fr 1.2fr;
    position: fixed;
    background: #fff;;
    top:5vw;
    overflow: hidden;
    width: 100%;
    height: fit-content;
    background-color: var(--background-color);
    filter: drop-shadow(0px 15px 20px rgba(0,0,0,0.1 ));
    position: absolute;
    left: 0; 
    z-index: 15;
    @media(max-width:1470px) {
        top: 6.2vw;
    }
   

    .services-leftPart {
      display: flex;
      flex-direction: column;
      padding-left: 6%;
      padding-bottom: 3%;
      background-color: var(--services-left-bg-color);

   
       
        .services-card {
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: left;
            width: clamp(110px,12vw,260px);
            height: clamp(120px,9vw,137px);
            gap: 2px;
            padding-inline: 2%;
            border: 2px solid transparent;
            position: relative;
            &:hover {
                border:2px solid #a67b48;
                border-radius: 15px;
                .arrow-icon {
                    display: block;
                }

                .title{
                    font-weight:600;
                }

            }

            .arrow-icon {
                position: absolute;
                top: 10px;
                right: 20px;
                display: none;
            }

            .service-card-div{
                padding-top: 7%;
                padding-left: 3%;
                text-align: left;

                img {
                    width: clamp(30px,2.8vw,40px) ;
                    height:clamp(30px,2.8vw,40px) ;
                }
                
            }
        }

        .services-card p {
            font-size:clamp(12px,1vw,20px);; 
            font-weight: 500;
            line-height: 32px;
            font-style: normal;
        }
    
    }
   
   
    
  
    .services-items {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(clamp(150px,14.5vw,285px), 1fr));
   
      
      

    }
  
    .services-rightPart {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      background: var(--services-right-bg-color);
      

       .wraper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 351px;
        margin-left: 10%;
        text-align: left;
        padding-right: 20%;
       
        .title{
            font-size: clamp(20px,2vw,26px) ;
        }
        .description {
            font-size: clamp(10px,1.5vw,16px);
        }
      }

      .line-services {
       width: 50px;
       height: 2px;
       background-color: var(--primary-text-color);
      }

    
    }
  }